.page-footer {
  /* margin-top: 120px; */
  background-color: #a5a5a5;
  color: #fff;
  bottom: -50px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.tms-version {
  margin-top: -40px;
  margin-right: 10px;
}
.tms-version > span {
  color: #666666;
  font-size: 14px;
}
